

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        width: 100%;
        justify-content: space-around;
    }

    .banner {
        padding: 20px;
        margin: 10px auto 30px;
    }

    .cursosFlex, .linksFlex {
        flex-direction: column;
        gap: 20px;
    }

    .cursos div, .linksuteis div {
        width: 100%;
    }

    footer p {
        margin: 0 10%;
    }
}

@media screen and (max-width: 500px) {
    .banner {
        padding: 10px;
        margin: 5px auto 20px;
    }

    footer p {
        margin: 0 5%;
    }   
}

@media screen and (max-width: 400px) {
    .banner {
        padding: 5px;
        margin: 3px auto 10px;
    }

    footer p {
        margin: 0 3%;
    }   

    .img{
        height: 200px;
        width: auto;
    }
}

@media screen and (max-width: 360px) {
    .banner {
        padding: 5px;
        margin: 3px auto 10px;
    }

    footer p {
        margin: 0 3%;
    }   

    .img{
        height: 158px;
        width: auto;
    }
}